# langchain==0.1.16
# langchain-community
# langchain-openai==0.0.8
# fastapi
# langserve
# sse_starlette
# python-dotenv
# ipykernel
# pypdf
# bs4
# arxiv
# pymupdf
# wikipedia
# langchain-text-splitters
# chromadb
# sentence_transformers
# langchain_huggingface
# faiss-cpu
# langchain_chroma
# duckdb
# pandas
# openai
# langchain-groq
# wikipedia
# validators==0.28.1
# huggingface_hub
# streamlit>=1.33.0
# altair==4.2.2
# duckduckgo-search
# unstructured
# mysql-connector-python
# SQLAlchemy
# youtube_transcript_api
# pytube
# numexpr


streamlit==1.35.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.9
langchain-text-splitters==0.2.4
SQLAlchemy==2.0.36
pandas==2.2.2
duckdb==0.10.3
mysql-connector-python==8.3.0
python-dotenv==1.0.1
altair==4.2.2
pydantic==2.7